stocks_to_drop.py
stocks_to_drop.csv
stocks_to_drop_final.csv
stocks_to_drop_final1.csv
stocks_to_drop.new.csv
stock_to_drop.csv
stocks_to_drop1.csv
test.py
website.py
Unfiltered_raw_df
yahootickers.xlsx